.complain-main{
    position: relative;
    top:30px;
    width:1100px;
}

.complain-main p{
    font-size: 20px;
}

.active{
    color: #fff !important;
    background: #009688 !important;
}

.complain-title p{
    box-sizing: border-box;
    padding-left: 500px;
}

.complain-catalogue{
    box-sizing: border-box;
    padding-left: 50px;
}

.complain-table{
    box-sizing: border-box;
    padding-top: 5px;
    padding-left: 20px;
}

.complain-add-div{
    box-sizing: border-box;
    padding-left: 900px;
}

.complain-button{
    box-sizing: border-box;
    padding-left: 800px;
}


.addComplain-name{
    box-sizing: border-box;
    padding-top: 10px;
}

.addComplain-defendantUserName{
    box-sizing: border-box;
    padding-top: 10px;
}


.addComplain-reason{
    box-sizing: border-box;
    padding-top: 10px;
}

.addComplain-success{
    box-sizing: border-box;
    padding-top: 10px;
    padding-left: 10px;
}

.complain-rank{
    line-height: 40px;
}

.complain-rank-select{
    box-sizing: border-box;
    padding-left: 10px;
}

.complain-rank-reason{
    box-sizing: border-box;
    padding-left: 10px;
}

.complain-rank-success{
    box-sizing: border-box;
    padding-top: 10px;
    padding-left: 10px;
}

.complain-rank-select select{
    box-sizing: border-box;
    padding-left: 10px;
}

.complain-table table th{
    text-align: center;
    background-color: #009688;

}

.complain-table td{
    text-align: center;
}
